﻿@model CalculaIR.BackEnd.Models.ContribuinteViewModel

<div class="panel-heading">
    <div class="panel-primary panel">
        <div class="panel-heading" style="background-color:darkslategray;">
            <b>CADASTRO DE CONTRIBUINTE</b>
        </div>
        <form id="contribuinteForm" method="post">
            <div class="panel-body">
                <div class="row ">
                    <div class="col-lg-2 col-md-2 col-xs-12">
                        <label for="ICppf" class="wb-inv">* CPF do Contribuinte</label>
                        @Html.ValidationMessageFor(m => m.Contribuinte.CPF, "", new { @class = "text-danger" })
                        @Html.TextBoxFor(m => m.Contribuinte.CPF, new { @class = "form-control", @placeholder = "CPF", @maxlength = "11", @id = "ICppf" })
                    </div>
                    <div class="col-lg-6 col-md-6 col-xs-12">
                        <label for="INome" class="wb-inv">* Nome do Contribuinte</label>
                        @Html.ValidationMessageFor(m => m.Contribuinte.Nome, "", new { @class = "text-danger" })
                        @Html.TextBoxFor(m => m.Contribuinte.Nome, new { @class = "form-control", @placeholder = "Nome", @maxlength = "50", @id = "INome" })
                    </div>
                    <div class="col-lg-2 col-md-2 col-xs-12">
                        <label for="IDep" class="wb-inv">* Número dependentes</label>
                        @Html.ValidationMessageFor(m => m.Contribuinte.NrDependentes, "", new { @class = "text-danger" })
                        @Html.TextBoxFor(m => m.Contribuinte.NrDependentes, new { @class = "form-control", @placeholder = "dependentes", @maxlength = "2", @id = "IDep" })
                    </div>
                    <div class="col-lg-2 col-md-2 col-xs-12">
                        <label for="IRenda" class="wb-inv">* Renda Bruta</label>
                        @Html.ValidationMessageFor(m => m.Contribuinte.RendaBruta, "", new { @class = "text-danger" })
                        @Html.TextBoxFor(m => m.Contribuinte.RendaBruta, new { @class = "form-control", @placeholder = "Renda", @maxlength = "8", @id = "IRenda" })
                    </div>

                    <div class="row" style="margin-top:100px;">
                        <button id="btn-salvar" class="btn btn-primary" style="display: block; margin: 0 auto;" type="submit">SALVAR</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="row" id="DivSalarioMinimo" hidden>
        <div class="col-lg-2 col-md-2 col-xs-12">
            <label for="ISalarioMinimo" class="wb-inv">Informe o Salário Mín</label>
            @Html.ValidationMessageFor(m => m.SalarioMinimo, "", new { @class = "text-danger" })
            @Html.TextBoxFor(m => m.SalarioMinimo, new { @class = "form-control", @placeholder = "954", @maxlength = "6", @id = "ISalarioMinimo" })
        </div>

        <div class="col-lg-1 col-md-1 col-xs-12" style="margin-top:25px;">
            <button id="btn-Buscar" class="btn btn-primary" style="display: block; margin: 0 auto;" type="button">Listar</button>
        </div>

        <div class="panel-primary col-lg-9 col-md-9 col-xs-12" id="ListaContribuintes" hidden>
            <h4><b>Lista de Contribuintes</b></h4>
            <div class="box-body">
                <div class="table-responsive no-margin" style="padding-right: 15px;">
                    <table id="TableContribuintes" class="table table-striped no-margin">
                        <thead>
                            <tr>
                                <th>Nome</th>
                                <th>CPF</th>
                                <th>Dependentes</th>
                                <th>Renda Bruta</th>
                                <th>Valor do Imposto</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap.min.js"></script>

    <script type="text/javascript">
        $('#btn-salvar').click(function (event) {
            $.ajax({
                type: "POST",
                url: '/api/contribuinte',
                data: $('#contribuinteForm').serialize(),   //IdForm pega todos os valores do model
                dataType: 'json',

                success: function (result) {
                    $('#DivSalarioMinimo').show();
                    console.log(result);
                    alert("Contribuinte Adicionado com Sucesso!");
                    $('.form-control').val('');
                },
                error: function (data) {
                    alert("Houve um erro");
                    console.log(data.responseJSON);
                }
            })
            return false;
        });
    </script>

    <script type="text/javascript">

        $('#btn-Buscar').click(function () {
            $.ajax({
                type: "PUT",
                url: '/api/contribuinte',
                dataType: 'json',
                data: $('#ISalarioMinimo').serialize(),

                success: function (result) {
                    $('#ListaContribuintes').show();
                    $('#TableContribuintes').DataTable({
                        destroy: true,
                        'paging': false,
                        'lengthChange': false,
                        'searching': false,
                        'ordering': false,
                        'info': false,
                        'autoWidth': false,

                        "ajax": {
                            "url": '/api/contribuinte',
                            dataSrc: '',
                            statusCode: {
                                404: function () {
                                    alert("Página não encontrada!");
                                },
                                200: function () {
                                    $('td').css('text-align', 'left');
                                }
                            }
                        },

                        "columns": [{
                            "data": "Nome"
                        },
                        {
                            "data": "CPF"
                        },
                        {
                            "data": "NrDependentes"
                        },
                        {
                            "data": "RendaBruta"
                        },
                        {
                            "data": "VlImposto"
                        }]
                    });
                    console.log(result);
                },
                error: function (data) {
                    alert("Houve um erro!");
                    console.log(data.responseJSON);
                }
            })
            return false;
        });
    </script>
}
